STORE=bolt
BOLT_PATH=/home/{{ alertmanager_telegram_bot_user }}/alertmanager-bot/bolt.db
ALERTMANAGER_URL={{ alertmanager_telegram_bot_alertmanager_url }}
LISTEN_ADDR={{ alertmanager_telegram_bot_listen_addr }}
TELEGRAM_ADMIN={{ alertmanager_telegram_bot_admin }}
TELEGRAM_TOKEN={{ alertmanager_telegram_bot_token }}
